<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMLDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8A74A8E1EE5594E0060D14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A74AA71EE5594E0060D14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A74AB21EE5594E0060D14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
